    <div class="section" id="intro">
        <div class="jumbotron">
            <div class="jumbotron-bg"></div>
            <div class="container jumbotron-container hidden">
                <!-- <h1 data-animate="fadeInDown">Hi, my name is</h1> -->
                <h1 data-animate="fadeInDown">JHONGERT FUERTES</h1>
                <h3 data-animate="fadeInDown">Web developer</h3>
            </div>
            <a href="#about">
                <i class="fa fa-chevron-down"></i>
            </a>
        </div>
    </div>

    <div class="section" id="about">
        <div class="container">
            <h1 class="title" data-animate="fadeInDown">About me</h1>
            <div class="row">
                <div class="col-md-10 col-md-offset-1">	
                    <div data-animate="fadeInUp">
                        <p>Jhongert Fuertes is a driven, experienced web developer who is passionate about exceptional program development and superb service to his clients. He is self-taught in several aspects of his experience and strives to continuously grow his knowledge base. He is also academically trained, graduated with honors from the Northeastern University in the Dominican Republic.</p>

                        <p>When He is not working or in front of his computer searching for new knowledge, He is usually with his lovely wife and his two children. Jhongert Fuertes currently lives in Orlando Florida. He believes in hard work, innovation, and He is passionate about programming and technology.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="section" id="skills">
        <div class="container">
            <h1 class="title" data-animate="fadeInDown">Skills</h1>

            <div class="row">
                <div class="col-xs-6 col-sm-4 col-md-3" data-animate="fadeIn">
                    <i class="devicon-html5-plain devicons"></i>
                    <h4>HTML5</h4>
                </div>
                <div class="col-xs-6 col-sm-4 col-md-3" data-animate="fadeIn">
                    <i class="devicon-css3-plain devicons"></i>
                    <h4>CSS3</h4>
                </div>
                <div class="col-xs-6 col-sm-4 col-md-3" data-animate="fadeIn">
                    <i class="devicon-bootstrap-plain devicons"></i>
                    <h4>Bootstrap</h4>
                </div>
                <div class="col-xs-6 col-sm-4 col-md-3" data-animate="fadeIn">
                    <i class="devicon-javascript-plain devicons"></i>
                    <h4>JavaScript</h4>
                </div>
                <div class="col-xs-6 col-sm-4 col-md-3" data-animate="fadeIn">
                    <i class="devicon-jquery-plain devicons"></i>
                    <h4>JQuery</h4>
                </div>
                <div class="col-xs-6 col-sm-4 col-md-3" data-animate="fadeIn">
                    <i class="devicon-react-original devicons"></i>
                    <h4>React</h4>
                </div>
                <div class="col-xs-6 col-sm-4 col-md-3" data-animate="fadeIn">
                    <i class="devicon-nodejs-plain devicons"></i>
                    <h4>Node.js</h4>
                </div>
                <div class="col-xs-6 col-sm-4 col-md-3" data-animate="fadeIn">
                    <i class="devicon-express-original devicons"></i>
                    <h4>Express</h4>
                </div>
                <div class="col-xs-6 col-sm-4 col-md-3" data-animate="fadeIn">
                    <i class="devicon-php-plain devicons"></i>
                    <h4>PHP</h4>
                </div>
                <div class="col-xs-6 col-sm-4 col-md-3" data-animate="fadeIn"> 
                    <i class="devicon-laravel-plain devicons"></i>
                    <h4>Laravel</h4>
                </div>
                <div class="col-xs-6 col-sm-4 col-md-3" data-animate="fadeIn">
                    <i class="devicon-mysql-plain devicons"></i>
                    <h4>MySQL</h4>
                </div>
                <div class="col-xs-6 col-sm-4 col-md-3" data-animate="fadeIn">
                    <i class="devicon-mongodb-plain devicons"></i>
                    <h4>MongoDB</h4>
                </div>
                <div class="col-xs-6 col-sm-4 col-md-3" data-animate="fadeIn">
                    <i class="devicon-git-plain devicons"></i>
                    <h4>Git</h4>
                </div>
                <div class="col-xs-6 col-sm-4 col-md-3" data-animate="fadeIn">
                    <i class="devicon-github-plain devicons"></i>
                    <h4>GitHub</h4>
                </div>
            </div>
        </div>
    </div>
    <div class="section" id="portfolio">
        <div class="container">
            <h1 class="title" data-animate="fadeInDown">Portfolio</h1>

            {{!--

            <hr>

             <div class="row">
                <div class="col-sm-6">
                    <a href="http://sharech.herokuapp.com/" target="_blank">
                        <img class="img-responsive" src="assets/images/sharech.jpeg">
                    </a>
                </div>
                <div class="col-sm-6">
                    <h2>
                        <a href="http://sharech.herokuapp.com/" target="_blank">Sharech</a>
                    </h2>
                    <p>A social sharing site that makes it easy for developers to post, search and tag articles, pieces of code, tutorials, or anything developer related they'd like to share.</p>
                    <p>HTML5, CSS3, PHP, Laravel, MYSQL, Javascript, JQuery, Bootstrap</p>
                </div>
            </div> --}}

            <hr id="tickectsApp">
            <div class="row">
                <div class="col-sm-6">
                    <a href="https://frozen-savannah-98046.herokuapp.com/" target="_blank">
                        <img class="img-responsive" src="assets/images/ticketapp.jpeg">
                    </a>
                </div>
                <div class="col-sm-6">
                    <h2>
                        <a href="https://frozen-savannah-98046.herokuapp.com/" target="_blank">Tickets App</a>
                    </h2>
                    <p>A tickets application that allows the company to manage supports tickets submitted by customers. Customers can submit tickets, view and add comments.</p>
                    <p>Developed using HTML5, CSS3, NodeJS, Express, MongoDB, Jade, JavaScript, jQuery, Bootstrap and Auth0</p>
                    <div>
                        <a class="btn" href="https://github.com/Jhongert/ticketapp" target="_blank">See code on GitHub</a>
                        <a class="btn" href="https://frozen-savannah-98046.herokuapp.com/" target="_blank">Live demo</a>
                    </div>
                </div>
            </div>

            <hr id="hangman">
            <div class="row">
                <div class="col-sm-6">
                    <a href="https://jhongert.github.io/hangman-game/" target="_blank">
                        <img class="img-responsive" src="assets/images/hangman.jpeg" alt="Hangman Game">
                    </a>    
                </div>
                <div class="col-sm-6">
                    <h2>
                        <a href="https://jhongert.github.io/hangman-game/" target="_blank">Hangman Game</a>
                    </h2>
                    <p>A game that runs in the browser and feature dynamically updated HTML powered by your JavaScript code.</p>
                    <p>Developed using JavaScript, HTML5, CSS3 and Bootstrap</p>
                    <div>
                        <a class="btn" href="https://github.com/Jhongert/hangman-game" target="_blank">See code on GitHub</a>
                        <a class="btn" href="https://jhongert.github.io/hangman-game/" target="_blank">Live demo</a>
                    </div>

                </div>
            </div>

            <hr id="product-registration">
            <div class="row">
                <div class="col-sm-6">
                    <a href="https://salty-earth-12670.herokuapp.com/" target="_blank">
                        <img class="img-responsive" src="assets/images/product-registration.jpeg">
                    </a>
                </div>
                <div class="col-sm-6">
                    <h2>
                        <a href="https://salty-earth-12670.herokuapp.com/" target="_blank">Product Registration</a>
                    </h2>
                    <p>A CRUD product registration app. On the server side this app uses Node and MySQL to query and route data and Handlebars to generate HTML. This app also follows the MVC design pattern and uses Sequelize to interact with the database. On the client side uses Bootstrap for layout and style, and jQuery to validate user input.</p>
                    <p>Developed using Node.js, Express, MySQL, Sequelize, jQuery and Bootstrap.</p>
                    <div>
                        <a class="btn" href="https://github.com/Jhongert/Product-Registration" target="_blank">See code on GitHub</a>
                        <a class="btn" href="https://salty-earth-12670.herokuapp.com/" target="_blank">Live demo</a>
                    </div>
                </div>
            </div>

            <hr id="StarWarsRPG">
            <div class="row">
                <div class="col-sm-6">
                    <a href="https://jhongert.github.io/StarWarsRPG/" target="_blank">
                        <img class="img-responsive" src="assets/images/starwarsrpg.jpeg">
                    </a>
                </div>
                <div class="col-sm-6">
                    <h2>
                        <a href="https://jhongert.github.io/StarWarsRPG/" target="_blank">Star Wars RPG Game</a>
                    </h2>
                    <p>A web based role playing game.</p>
                    <p>Developed using jQuery, HTML5, CSS3 and Bootstrap</p>
                    <div>
                        <a class="btn" href="https://github.com/Jhongert/StarWarsRPG" target="_blank">See code on GitHub</a>
                        <a class="btn" href="https://jhongert.github.io/StarWarsRPG/" target="_blank">Live demo</a>
                    </div>
                </div>
            </div>

            <hr id="MyGifs">
            <div class="row">
                <div class="col-sm-6">
                    <a href="https://jhongert.github.io/MyGifs" target="_blank">
                        <img class="img-responsive" src="assets/images/mygifs.jpeg">
                    </a>
                </div>
                <div class="col-sm-6">
                    <h2>
                        <a href="https://jhongert.github.io/MyGifs" target="_blank">MyGifs</a>
                    </h2>
                    <p>MyGifs is a dynamic responsive web page that populates with gifs of your choice from the GIPHY API.</p>
                    <p>Developed using JavaScript, jQuery, HTML5, CSS3, AJAX and Bootstrap.</p>
                    <div>
                        <a class="btn" href="https://github.com/Jhongert/MyGifs" target="_blank">See code on GitHub</a>
                        <a class="btn" href="https://jhongert.github.io/MyGifs" target="_blank">Live demo</a>
                    </div>
                </div>
            </div>

            <hr id="TriviaGame">
            <div class="row">
                <div class="col-sm-6">
                    <a href="https://jhongert.github.io/TriviaGame/" target="_blank">
                        <img class="img-responsive" src="assets/images/triviagame.jpeg">
                    </a>
                </div>
                <div class="col-sm-6">
                    <h2>
                        <a href="https://jhongert.github.io/TriviaGame/" target="_blank">Trivia Game</a>
                    </h2>
                    <p>A game that shows one question (about Star Wars) until the player answers it or the time runs out. The time depends on the level chosen when starting the game.</p>
                    <p>Developed using JavaScript, jQuery, HTML5, CSS3 and Bootstrap.</p>
                    <div>
                        <a class="btn" href="https://github.com/Jhongert/TriviaGame" target="_blank">See code on GitHub</a>
                        <a class="btn" href="https://jhongert.github.io/TriviaGame/" target="_blank">Live demo</a>
                    </div>
                </div>
            </div>

            <hr id="saludondemand">
            <div class="row">
                <div class="col-sm-6">
                    <a href="http://www.saludondemand.com/" target="_blank">
                        <img class="img-responsive" src="assets/images/saludondemand.jpeg">
                    </a>
                </div>
                <div class="col-sm-6">
                    <h2>
                        <a href="http://www.saludondemand.com/" target="_blank">SaludOnDemand</a>
                    </h2>
                    <p>A spanish blog for weight loss.</p>
                    <p>Developed using Wordpress.</p>
                    <div>
                        <a class="btn" href="http://www.saludondemand.com/" target="_blank">See website</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <div class="section" id="contact">
        <div class="container">
            <h1 class="title" data-animate="fadeInDown">Let's Get In Touch!</h1>

            <div class="row">
                <div class="col-sm-6">
                    <h1 data-animate="bounceIn"><i class="fa fa-phone"></i></h1>
                    <p>407-346-8396</p>
                </div>
                <div class="col-sm-6">
                    <h1 data-animate="bounceIn"><i class="fa fa-envelope"></i></h1>
                    <p><a href="mailto:jhongertf@gmail.com">jhongertf@gmail.com</a></p>
                </div>
            </div>
            <a href="https://www.linkedin.com/in/jhongert-fuertes" target="_blank"><img src="assets/images/linkedin.png"></a>
            <a href="https://github.com/jhongert" target="_blank"><img src="assets/images/github.png"></a>
            <p><small>© Copyright 2018 Jhongert Fuertes</small></p>
        </div>
    </div>        